// =================================================
// DASHBORD BOXES DESIGN START (DATE:-02/04/2025)
// =================================================
.o_action_manager{
	div{
		.row{
            .sh_vehicles_main_box{
                padding: 25px 20px !important; border-radius: 10px;width: 100% !important;
                .sh_box_icon{
                    width: 60px;
                    height: 60px;
                    // background-color: #eceefd;
                    line-height: 60px;
                    text-align: center;
                    border-radius: 50px;
                    svg{
                        width: 30px;
                        height: 30px;
                        
                    }
                }
                .sh_box_contant_main{
                    p{font-size: 18px;}
                }
            }
        }
	}
}
// =================================================
// DASHBORD BOXES DESIGN END
// =================================================
